body {
  background-color: #7993e7; /* Your original background color */
  font-family: verdana;
  color: #3b3b3b;
  line-height: 0.8;
  text-align: center;
  display: flex;
  margin: 0;
  justify-content: center; /* Centers the pillar horizontally */
}
a:link{
  text-decoration: none;
  color: #f196d6;
}
a:hover{
  color: #d17979
}
h1 {
  color: #333333;
}

h2 {
  border: 5px dotted black;
  background-color: yellow;
}

p {
  font-size: 20px; 
}

/* Ensure images don't break the pillar */
img {
  max-width: 100%;
  height: auto;
}
.content {
  /* The 4:3 Math */
  aspect-ratio: 3 / 3; 
  height: 100vh; /* Takes up 90% of the screen height */
  
  /* Styling the "Box" */
  background-color: #b87fc5; 
 /* border: 5px solid #000; */
  padding-top: 0vh;    /* Responsive top padding */
  padding-bottom: 0vh; /* Responsive bottom padding */
}
.sidebar1{
  background-color: aliceblue;
  height: 100vh;
  padding-top: 0vh;
  padding-bottom: -10vh;
}